<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="AppImagensTeste.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <AppImagensTeste.Properties.Settings>
      <setting name="SQLConnectionString" serializeAs="String">
        <value>Server=tcp:sandbox01.database.windows.net,1433;Initial Catalog=sandbox;Persist Security Info=False;User</value>
      </setting>
      <setting name="BlobConnectionString" serializeAs="String">
        <value>DefaultEndpointsProtocol=https;AccountName=cs2f2fa088b7edfx4579xb65;AccountKey=7pBk9brJlUj2mmDOyesFhPLkymjv2DGYSCvV8OH5DeKUBAnLihVDDqbIzyFgkRABhdo/xthfP5CfZfDhPlFc9Q==;EndpointSuffix=core.windows.net</value>
      </setting>
    </AppImagensTeste.Properties.Settings>
  </applicationSettings>
</configuration>